@import "tailwindcss";

@layer utilities {
  .animate-fall {
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
    }

    100% {
      transform: translateY(100vh) rotate(360deg);
    }
  }
}